/* ======= themes ======= */
// $theme: 'mobile';
// $theme: 'tablet';
// $theme: 'laptop';

/* ======= color variables ======= */

// Muted and Minimal
$dusty: #96858f;
$lavendar: #6d7993;
$overcast: #9099a2;
$paper: #d5d5d5;

// Warm and Bold
$black: #000000;
$ink: #062f4f;
$posy: #813772;
$embers: #b82601;

// Earthy and Fresh
$terracotta: #945d60;
$herb: #626e60;
$chilli: #af473c;
$charcoal: #3c3c3c;
$sage: #cad0c8;

// Tropical
$ocean: #1fb58f;
$sand: #eab126;
$cocktail: #f24c4e;
$palm: #1b73b4;

// Unexpected combinations
$violet: #6e3667;
$lime: #88d317;
$plum: #1a0315;
$shadow: #535353;
$fuchia: #a239ca;
$ink: #062f4f;

// other
$lime: #88d317;
$fuchia: #a239ca;
$fuchia2: #0e0b16;
$plum: #1a0315;
$violet: #6e3667;
$ink: #062f4f;
$void: #a239ca;
$jewel: #4717f6;
$stark: #e7dfdd;
$shadow: #535353;

/* ======= layout variables ======= */
$page_headerH: 60px;
$page_sectionH: 100%;

$D_header_bg: $ink;
$W_header_bg: $ink;
$M_header_bg: $ink;
$Y_header_bg: $ink;
$D_content_bg: $violet;
$W_content_bg: $violet;
$M_content_bg: $violet;
$Y_content_bg: $violet;

$mobile_headerH: 40px;
$mobile_sectionH: 240px;
$mobile_sectionW: 320px;
$mobile_D_pixBoxW: 80%;
$mobile_W_pixBoxW: 700px;
$mobile_M_pixBoxW: 700px;
$mobile_Y_pixBoxW: 320px;

$tablet_headerH: 30%;
$tablet_sectionH: 120px;
$tablet_D_pixBoxW: 100%;
$tablet_W_pixBoxW: 100%;
$tablet_M_pixBoxW: 100%;
$tablet_Y_pixBoxW: 100%;

$laptop_headerH: 20%;
$laptop_sectionH: 20%;
$laptop_D_pixBoxW: 100%;
$laptop_W_pixBoxW: 100%;
$laptop_M_pixBoxW: 100%;
$laptop_Y_pixBoxW: 100%;

/* ======= layout ======= */
html, body {
    height: 100%;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Ariel", sans-serif;
}
#page-wrap {
    width: 100%;
    height: 100%;
    // background-color: red;
}

/* ======= page-header ======= */
#page-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $page_headerH;
    margin: 0;
    background-color: $lime;
    z-index: 9;
}
#page-header > div {
    margin: 0;
}
/* ======= menu-btn ======= */
#toggle-menu-btn {
    float: left;
    width: 40px;
    height: 40px;
    margin: 10px;
    color: #1a2930;
    font-size: 1.6em;
    background-size: 30px 30px;
    background-color:  #f0f0f0;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
}
#toggle-menu-btn:focus {
    outline: none;
}
/*  ======= ======= logo ======= ======= */
#logo1, #logo2 {
    float: right;
    color: #1a2930;
    font-size: 1.8em;
    text-shadow: 0pt 0px 0pt rgb(0, 0, 0);
}
#logo1 {
    margin: 12px 0 0 0;
    font-family: 'Special Elite', cursive;
}
#logo2 {
    margin: 10px 10px 0 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

/* ======= side-menu ======= */
#side-menu {
    position: fixed;
    clear: left;
    width: 120px;
    height: 500px;
    top: $page_headerH;
    left: 0;
    margin-left: -120px;
    background-color: #4717f6;
    -webkit-transition: margin-left 500ms;
    transition: margin-left 500ms;
    z-index: 9;
}
#side-menu-table {
    position: absolute;
    clear: left;
    width: 90%;
    height: 120px;
    margin: 10px 0;
    margin-left: 7px;
    border-collapse: separate;
    border-spacing: 10px 10px;
}
#side-menu-table > tbody > tr {
    height: 40px;
    text-align: center;
    color: #e5e2d1;
}
.menu-btn {
    background-color: #0e0b16;
}
.mgmt-btn {
    background-color: red;
}
.glyphicon-pencil, .glyphicon-flash, .glyphicon-file {
    margin: 16px;
}
.glyph-color {
    color: white;
}
#side-menu-table > tbody > tr > td > a {
    color: inherit;
    text-decoration: none;
    // text-shadow: 0pt 0px 0pt rgb(0, 0, 0);
}

/* ======= page-content ======= */
#content {
    position: relative;
    height: 80%;
    top: 0;
    margin-top: $page_headerH;
    background-color: $jewel;
}
#NED {
    display: none;
    position: fixed;
    float: left;
    width: 300px;
    height: auto;
    top: $page_headerH;
    left: 10px;
    margin-top: 0;
    background-color: $lime;
    -webkit-transition: margin-left 500ms;
    transition: margin-left 500ms;
    box-shadow: 4px 4px 4px #000;
}
#NED_header {
    text-align: center;
    height: $mobile_headerH;
    background-color: $jewel;
}
.NED_link {
    display: inline-block;
    margin: 5px 10px;
    font-size: 1.6em;
    font-family: 'Special Elite', cursive;
    font-weight: 700;
    color: white;
}
#close {
    margin: 5px 0 5px 30px;
    color: red;
}
#NED_content {
    height: $mobile_sectionH;
    background-color: $lime;
}
#NED_pixBox {
    width: 220px;
    height: auto;
    margin: 10px auto;
}
#NED_pic {
    width: 100%;
    height: 100%;
}

/* ======= day ======= */
#D_header {
    background-color: $dusty;
}
#D_content {
    background-color: $lavendar;
}
#D_pixBox {
    background-color: $overcast;
}

/* ======= week ======= */
#W_header {
    background-color: $paper;
}
#W_content {
    background-color: $ink;
}
#W_pixBox {
    background-color: $posy;
}

/* ======= month ======= */
#M_header {
    background-color: $embers;
}
#M_content {
    background-color: $terracotta;
}
#M_pixBox {
    background-color: $herb;
}

/* ======= year ======= */
#Y_header {
    background-color: $chilli;
}
#Y_content {
    background-color: $sage;
}
#Y_pixBox {
    background-color: $ocean;
}



/*  ======= ======= RESPONSIVE  ======= ======= */
/*  ======= ======= RESPONSIVE  ======= ======= */
/*  ======= ======= RESPONSIVE  ======= ======= */


/* ======= ======= ======= iPhone6:P ======= ======= ======= */
@media (max-width: 320px) {
    .section {
        top: 0;
        position: relative;
        height: $mobile_sectionH;
    }
    .section-header {
        position: relative;
        top: 0;
        height: $mobile_headerH;
        margin: 0;
    }
    .section-content {
        position: relative;
        height: calc(100% - 40px);
        margin: 0;
    }
    .title1 {
        display: inline-block;
        margin: 0 10px 0 0;
        font-size: 1.6em;
        font-family: 'Special Elite', cursive;
        font-weight: 700;
    }
    .title2 {
        display: inline-block;
        margin: 0 6px 0 10px;
        font-size: 1.6em;
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
    }

    /* ======= day ======= */
    #D_pixBox {
        position: absolute;
    }
    .D_pic {
        width: 100%;
        height: 100%;
    }

    /* ======= week ======= */
    #W_content {
        overflow-x: scroll;
    }
    #W_pixBox {
        float: left;
        width: calc((120px * 7) + (20px * 7));
        height: 100%;
        margin: 0;
    }
    .W_pic {
        float: left;
        width: 120px;
        height: auto;
        margin: 10px;
    }

    /* ======= month ======= */
    #M_content {
        overflow-x: scroll;
    }
    #M_pixBox {
        float: left;
        width: calc((120px * 7) + (20px * 7));
        height: 100%;
        margin: 0;
    }
    .M_pic {
        float: left;
        width: 120px;
        height: auto;
        margin: 10px;
    }

    /* ======= year ======= */
    #Y_pixBox {
        width: 160px;
        margin: 0;
    }
    .Y_pic {
        width: 100px;
        height: auto;
        margin: 10px;
    }
}

/* ======= ======= ======= tablet:L ======= ======= ======= */
@media (min-width: 321px) and (max-width: 668px) {
    .section {
        margin-top: 20px;
        position: relative;
        height: $tablet_sectionH;
        background-color: red;
    }
    .section-header {
        position: relative;
        top: 0;
        height: $tablet_headerH;
        margin: 0;
        background-color: $lime;
    }
    .section-content {
        height: $tablet_sectionH;
        margin: 0;
    }
    .title1 {
        display: inline-block;
        margin: 0 10px 0 0;
        font-size: 1.6em;
        font-family: 'Special Elite', cursive;
        font-weight: 700;
    }
    .title2 {
        display: inline-block;
        margin: 2px 6px 0 10px;
        font-size: 1.6em;
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
    }
    .D_pic {
        width: 120px;
        height: auto;
        margin: 10px;
    }

    /* ======= week ======= */
    #W_content {
        overflow-x: scroll;
    }
    #W_pixBox {
        float: left;
        width: calc((120px * 7) + (20px * 7));
        height: 100%;
        margin: 0;
    }
    .W_pic {
        float: left;
        width: 120px;
        height: auto;
        margin: 10px;
    }

    /* ======= month ======= */
    #M_content {
        overflow-x: scroll;
    }
    #M_pixBox {
        float: left;
        width: calc((120px * 7) + (20px * 7));
        height: 100%;
        margin: 0;
        overflow-y: hidden;
    }
    .M_pic {
        float: left;
        width: 120px;
        height: auto;
        margin: 10px;
    }
    .M_pic {
        float: left;
        width: 120px;
        height: auto;
        margin: 10px;
    }

    /* ======= year ======= */
    // #Y_content {
    //     overflow-x: scroll;
    // }
    #Y_pixBox {
        float: left;
        width: calc((120px * 7) + (20px * 7));
        height: auto;
        margin: 0;
        overflow-y: hidden;
    }
    .Y_pic {
        float: left;
        width: 120px;
        height: auto;
        margin: 10px;
    }
}
/* ======= NED ======= */
#newLink {

}
#editLink {

}
#deleteLink {

}
#newBtn {

}
#editBtn {

}
#deleteBtn {

}
#saveBtn {

}
#cancelBtn {

}

// #title1 {
//
// }
// #pix {
//
// }
// #D_hdr {
//
// }
// .section-header {
//
// }
// #D_con {
//
// }
// .section-content {
//
// }
// #D_pb {
//
// }
// .pixBox {
//
// }
// #D_ftr {
//
// }
// .section-footer {
//
// }

/*  ======= ======= ARCHIVE  ======= ======= */
/*  ======= ======= ARCHIVE  ======= ======= */
/*  ======= ======= ARCHIVE  ======= ======= */
