/* ======= themes ======= */
// $theme: 'mobile';
// $theme: 'tablet';
// $theme: 'laptop';

/* ======= colors ======= */
$lime: #88d317;
$violet: #6e3667;
$fuchia: #a239ca;
$ink: #062f4f;
$void: #a239ca;
$fuchia: #0e0b16;
$jewel: #4717f6;
$stark: #e7dfdd;
$lime: #88d317;
$plum: #1a0315;
$shadow: #535353;
$ink: #062f4f;

/* ======= layout ======= */
#page-wrap {
    width: 100%;
    background-color: red;
}

/* ======= header ======= */
#page-header {
    height: 60px;
    width: 100%;
    background-color: red;
    color: white;
}
#toggle-menu {

}
#logo2 {

}
#logo1 {

}

/* ======= content ======= */
#content {

}
#logo2 {

}
#logo1 {

}
#side-menu {

}
#side-menu-table {

}

/* ======= themes ======= */
#day {

}
#week {

}
#month {

}
#year {

}

/* ======= menu ======= */
.menu-btn {

}
.menu-link {

}
.glyphicon {

}
.glyphicon-pawn {

}
.menu-btn {

}
.menu-link {

}

/* ======= NED ======= */
#newLink {

}
#editLink {

}
#deleteLink {

}
#newBtn {

}
#editBtn {

}
#deleteBtn {

}
#saveBtn {

}
#cancelBtn {

}

/* ======= layout ======= */
// .section {
//
// }
// #toggle-menu {
//
// }
// #title2 {
//
// }
// #today {
//
// }
// #title1 {
//
// }
// #pix {
//
// }
// #D_hdr {
//
// }
// .section-header {
//
// }
// #D_con {
//
// }
// .section-content {
//
// }
// #D_pb {
//
// }
// .pixBox {
//
// }
// #D_ftr {
//
// }
// .section-footer {
//
// }

/*  ======= ======= ARCHIVE  ======= ======= */
/*  ======= ======= ARCHIVE  ======= ======= */
/*  ======= ======= ARCHIVE  ======= ======= */
