/* ======= themes ======= */
/* ======= color variables ======= */
/* ======= layout variables ======= */
/* ======= layout ======= */
html, body {
  height: 100%;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Ariel", sans-serif; }

#page-wrap {
  width: 100%;
  height: 100%; }

/* ======= page-header ======= */
#page-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  margin: 0;
  background-color: #88d317;
  z-index: 9; }

#page-header > div {
  margin: 0; }

/* ======= menu-btn ======= */
#toggle-menu-btn {
  float: left;
  width: 40px;
  height: 40px;
  margin: 10px;
  color: #1a2930;
  font-size: 1.6em;
  background-size: 30px 30px;
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px; }

#toggle-menu-btn:focus {
  outline: none; }

/*  ======= ======= logo ======= ======= */
#logo1, #logo2 {
  float: right;
  color: #1a2930;
  font-size: 1.8em;
  text-shadow: 0pt 0px 0pt black; }

#logo1 {
  margin: 12px 0 0 0;
  font-family: 'Special Elite', cursive; }

#logo2 {
  margin: 10px 10px 0 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 200; }

/* ======= side-menu ======= */
#side-menu {
  position: fixed;
  clear: left;
  width: 120px;
  height: 500px;
  top: 60px;
  left: 0;
  margin-left: -120px;
  background-color: #4717f6;
  -webkit-transition: margin-left 500ms;
  transition: margin-left 500ms;
  z-index: 9; }

#side-menu-table {
  position: absolute;
  clear: left;
  width: 90%;
  height: 120px;
  margin: 10px 0;
  margin-left: 7px;
  border-collapse: separate;
  border-spacing: 10px 10px; }

#side-menu-table > tbody > tr {
  height: 40px;
  text-align: center;
  color: #e5e2d1; }

.menu-btn {
  background-color: #0e0b16; }

.mgmt-btn {
  background-color: red; }

.glyphicon-pencil, .glyphicon-flash, .glyphicon-file {
  margin: 16px; }

.glyph-color {
  color: white; }

#side-menu-table > tbody > tr > td > a {
  color: inherit;
  text-decoration: none; }

/* ======= page-content ======= */
#content {
  position: relative;
  height: 80%;
  top: 0;
  margin-top: 60px;
  background-color: #4717f6; }

/*  ======= ======= RESPONSIVE  ======= ======= */
/*  ======= ======= RESPONSIVE  ======= ======= */
/*  ======= ======= RESPONSIVE  ======= ======= */
/* ======= ======= ======= iPhone6:P ======= ======= ======= */
@media (max-width: 320px) {
  .section {
    top: 0;
    position: relative;
    height: 240px;
    background-color: red; }

  .section-header {
    position: relative;
    top: 0;
    height: 40px;
    margin: 0;
    background-color: #88d317; }

  .section-content {
    height: 240px;
    margin: 0; }

  .title1 {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 1.6em;
    font-family: 'Special Elite', cursive;
    font-weight: 700; }

  .title2 {
    display: inline-block;
    margin: 0 6px 0 10px;
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
    font-weight: 200; }

  #D_pixBox {
    position: absolute;
    float: left;
    width: 80%;
    height: auto; }

  #D_pic {
    width: 100%;
    height: 100%; }

  #W_pixBox {
    float: left;
    width: 840px;
    height: 100px;
    margin: 10px; }

  #W_pic {
    width: 100px;
    height: auto;
    margin: 10px; }

  #M_pixBox {
    float: left;
    width: 840px;
    height: 120px;
    margin: 10px; }

  #Y_pixBox {
    float: left;
    width: 160px;
    height: 140px;
    margin: 10px; }

  /* ======= day ======= */
  #D_header {
    background-color: #96858f; }

  #D_content {
    background-color: #6d7993; }

  #D_pixBox {
    background-color: #9099a2; }

  /* ======= week ======= */
  #W_header {
    background-color: #d5d5d5; }

  #W_content {
    background-color: #062f4f; }

  #W_pixBox {
    background-color: #813772; }

  /* ======= month ======= */
  #M_header {
    background-color: #b82601; }

  #M_content {
    background-color: #945d60; }

  #M_pixBox {
    background-color: #626e60; }

  /* ======= year ======= */
  #Y_header {
    background-color: #af473c; }

  #Y_content {
    background-color: #cad0c8; }

  #Y_pixBox {
    background-color: #1fb58f; } }
/* ======= ======= ======= tablet:L ======= ======= ======= */
@media (min-width: 321px) and (max-width: 668px) {
  .section {
    margin-top: 20px;
    position: relative;
    height: 120px;
    background-color: red; }

  .section-header {
    position: relative;
    top: 0;
    height: 30%;
    margin: 0;
    background-color: #88d317; }

  .section-content {
    height: 120px;
    margin: 0; }

  .title1 {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 1.6em;
    font-family: 'Special Elite', cursive;
    font-weight: 700; }

  .title2 {
    display: inline-block;
    margin: 2px 6px 0 10px;
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
    font-weight: 200; }

  .pixBox {
    float: left;
    width: 100px;
    height: 80px;
    margin: 10px; }

  /* ======= day ======= */
  #D_header {
    background-color: #96858f; }

  #D_content {
    background-color: #6d7993; }

  #D_pixBox {
    background-color: #9099a2; }

  /* ======= week ======= */
  #W_header {
    background-color: #d5d5d5; }

  #W_content {
    background-color: #062f4f; }

  #W_pixBox {
    background-color: #813772; }

  /* ======= month ======= */
  #M_header {
    background-color: #b82601; }

  #M_content {
    background-color: #945d60; }

  #M_pixBox {
    background-color: #626e60; }

  /* ======= year ======= */
  #Y_header {
    background-color: #af473c; }

  #Y_content {
    background-color: #cad0c8; }

  #Y_pixBox {
    background-color: #1fb58f; } }
/* ======= NED ======= */
/*  ======= ======= ARCHIVE  ======= ======= */
/*  ======= ======= ARCHIVE  ======= ======= */
/*  ======= ======= ARCHIVE  ======= ======= */

/*# sourceMappingURL=styles.css.map */
