/* ======= themes ======= */
/* ======= color variables ======= */
/* ======= layout variables ======= */
/* ======= layout ======= */
html, body {
  height: 100%;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Ariel", sans-serif; }

#page-wrap {
  width: 100%;
  height: 100%; }

/* ======= page-header ======= */
#page-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  margin: 0;
  background-color: #88d317;
  z-index: 9; }

#page-header > div {
  margin: 0; }

/* ======= menu-btn ======= */
#toggle-menu-btn {
  float: left;
  width: 40px;
  height: 40px;
  margin: 10px;
  color: #1a2930;
  font-size: 1.6em;
  background-size: 30px 30px;
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px; }

#toggle-menu-btn:focus {
  outline: none; }

/*  ======= ======= logo ======= ======= */
#logo1, #logo2 {
  float: right;
  color: #1a2930;
  font-size: 1.8em;
  text-shadow: 0pt 0px 0pt black; }

#logo1 {
  margin: 12px 0 0 0;
  font-family: 'Special Elite', cursive; }

#logo2 {
  margin: 10px 10px 0 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 200; }

/* ======= side-menu ======= */
#side-menu {
  position: fixed;
  clear: left;
  width: 120px;
  height: 500px;
  top: 60px;
  left: 0;
  margin-left: -120px;
  background-color: #4717f6;
  -webkit-transition: margin-left 500ms;
  transition: margin-left 500ms;
  z-index: 9; }

#side-menu-table {
  position: absolute;
  clear: left;
  width: 90%;
  height: 120px;
  margin: 10px 0;
  margin-left: 7px;
  border-collapse: separate;
  border-spacing: 10px 10px; }

#side-menu-table > tbody > tr {
  height: 40px;
  text-align: center;
  color: #e5e2d1; }

.menu-btn {
  background-color: #0e0b16; }

.mgmt-btn {
  background-color: red; }

.glyphicon-pencil, .glyphicon-flash, .glyphicon-file {
  margin: 16px; }

.glyph-color {
  color: white; }

#side-menu-table > tbody > tr > td > a {
  color: inherit;
  text-decoration: none; }

/* ======= page-content ======= */
#content {
  position: relative;
  top: 0;
  margin-top: 60px; }

#NED {
  display: none;
  position: fixed;
  float: left;
  width: 300px;
  height: auto;
  top: 60px;
  left: 10px;
  margin-top: 0;
  background-color: #88d317;
  -webkit-transition: margin-left 500ms;
  transition: margin-left 500ms;
  box-shadow: 4px 4px 4px #000; }

#NED_header {
  text-align: center;
  height: 40px;
  background-color: #4717f6; }

.NED_link {
  display: inline-block;
  margin: 5px 10px;
  font-size: 1.6em;
  font-family: 'Special Elite', cursive;
  font-weight: 700;
  color: white; }

#close {
  margin: 5px 0 5px 30px;
  color: red; }

#NED_content {
  height: 240px;
  background-color: #88d317; }

#NED_pixBox {
  width: 220px;
  height: auto;
  margin: 10px auto; }

#NED_pic {
  width: 100%;
  height: 100%; }

/* ======= day ======= */
#D_header {
  background-color: #96858f; }

#D_content, #D_pixBox {
  background-color: #9099a2; }

/* ======= week ======= */
#W_header {
  background-color: #d5d5d5; }

#W_content, #W_pixBox {
  background-color: #813772; }

/* ======= month ======= */
#M_header {
  background-color: #b82601; }

#M_content, .M_pixBox {
  background-color: #626e60; }

/* ======= year ======= */
#Y_header {
  background-color: #af473c; }

#Y_content, #Y_pixBox {
  background-color: #1fb58f; }

/*  ======= ======= RESPONSIVE  ======= ======= */
/*  ======= ======= RESPONSIVE  ======= ======= */
/*  ======= ======= RESPONSIVE  ======= ======= */
/* ======= ======= ======= iPhone6:P ======= ======= ======= */
@media (max-width: 320px) {
  .section {
    top: 0;
    position: relative;
    height: 240px; }

  .section-header {
    position: relative;
    top: 0;
    height: 40px;
    margin: 0; }

  .section-content {
    position: relative;
    height: calc(100% - 40px);
    margin: 0; }

  .title1 {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 1.6em;
    font-family: 'Special Elite', cursive;
    font-weight: 700; }

  .title2 {
    display: inline-block;
    margin: 0 6px 0 10px;
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
    font-weight: 200; }

  /* ======= day ======= */
  #D_pixBox {
    position: absolute; }

  .D_pic {
    width: 100%;
    height: 100%; }

  /* ======= week ======= */
  #W_content {
    overflow-x: scroll; }

  #W_pixBox {
    float: left;
    width: calc((120px * 7) + (20px * 7));
    height: 100%;
    margin: 0; }

  .W_pic {
    float: left;
    width: 120px;
    height: auto;
    margin: 10px; }

  /* ======= month ======= */
  #M_content {
    overflow-y: scroll; }

  .M_pixBox {
    float: left;
    width: 100%;
    margin: 10px 0 5px 0;
    border-bottom: 2px solid black; }

  .M_pixBox:last-child {
    border-bottom: none; }

  .M_pic {
    float: left;
    width: 120px;
    height: auto;
    margin: 10px; }

  .week-label {
    margin: 5px 0 0 10px;
    font-size: 1.4em;
    color: #88d317; }

  /* ======= year ======= */
  #Y_content {
    min-height: 667px;
    overflow-y: scroll; }

  #Y_pixBox {
    width: 160px;
    margin: 0; }

  .Y_pic {
    width: 100px;
    height: auto;
    margin: 10px; } }
/* ======= ======= ======= tablet:L ======= ======= ======= */
@media (min-width: 321px) and (max-width: 768px) {
  .section-header {
    position: relative;
    height: 40px; }

  .section-content {
    margin: 0; }

  .title1 {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 1.6em;
    font-family: 'Special Elite', cursive;
    font-weight: 700; }

  .title2 {
    display: inline-block;
    margin: 2px 6px 0 10px;
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
    font-weight: 200; }

  .D_pic {
    width: 120px;
    height: auto;
    margin: 10px; }

  /* ======= week ======= */
  #W_content {
    overflow-x: scroll; }

  #W_pixBox {
    float: left;
    width: calc((120px * 7) + (20px * 7)); }

  .W_pic {
    float: left;
    width: 120px;
    height: auto;
    margin: 10px; }

  /* ======= month ======= */
  #M_content {
    overflow-x: scroll;
    padding: 20px; }

  .M_pixBox {
    float: left;
    width: calc((120px * 7) + (20px * 7) + 30px);
    border-bottom: 2px solid black; }

  .M_pic {
    float: left;
    width: 120px;
    height: auto;
    margin: 10px; }

  .M_pic:last-child {
    margin-right: 30px; }

  /* ======= year ======= */
  #Y_content {
    min-height: 667px;
    overflow-y: scroll; }

  #Y_pixBox {
    float: left;
    width: calc((120px * 7) + (20px * 7));
    height: auto;
    margin: 0;
    overflow-y: hidden; }

  .Y_pic {
    float: left;
    width: 120px;
    height: auto;
    margin: 10px; } }
/* ======= ======= ======= laptop ======= ======= ======= */
@media (min-width: 769px) and (max-width: 1680px) {
  .section-header {
    position: relative;
    clear: both;
    height: 40px;
    top: 0; }

  .title1 {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 1.6em;
    font-family: 'Special Elite', cursive;
    font-weight: 700; }

  .title2 {
    display: inline-block;
    margin: 2px 6px 0 10px;
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
    font-weight: 200; }

  /* ======= day ======= */
  .D_pic {
    width: auto;
    height: 240px;
    margin: 10px; }

  /* ======= week ======= */
  #W_content {
    height: 25%; }

  #W_pixBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    float: left;
    width: 100%;
    height: 100%;
    margin: 0; }

  .W_pic {
    float: left;
    width: 120px;
    height: auto;
    margin: 10px; }

  /* ======= month ======= */
  #M_content {
    width: 100%;
    padding-bottom: 20px; }

  .M_pixBox {
    width: 90%;
    margin: 0 auto;
    border-bottom: 2px solid black; }

  .M_pic {
    float: left;
    width: 120px;
    height: auto;
    margin: 10px; }

  .clearfix {
    overflow: auto; }

  /* ======= year ======= */
  #Y_content {
    min-height: 667px;
    overflow-y: scroll; }

  #Y_pixBox {
    float: left;
    width: calc((120px * 7) + (20px * 7));
    height: auto;
    margin: 0;
    overflow-y: hidden; }

  .Y_pic {
    float: left;
    width: 120px;
    height: auto;
    margin: 10px; } }
/*  ======= ======= ARCHIVE  ======= ======= */
/*  ======= ======= ARCHIVE  ======= ======= */
/*  ======= ======= ARCHIVE  ======= ======= */

/*# sourceMappingURL=styles.css.map */
