/*
// Muted and Minimal
$dusty: #96858f;
$lavendar: #6d7993;
$overcast: #9099a2;
$paper: #d5d5d5;

// Warm and Bold
$black: #000000;
$ink: #062f4f;
$posy: #813772;
$embers: #b82601;

// Earthy and Fresh
$terracotta: #945d60;
$herb: #626e60;
$chilli: #af473c;
$charcoal: #3c3c3c;
$sage: #cad0c8;

// Tropical
$ocean: #1fb58f;
$sand: #eab126;
$cocktail: #f24c4e;
$palm: #1b73b4;

// Unexpected combinations
$violet: #6e3667;
$lime: #88d317;
$plum: #1a0315;
$shadow: #535353;
$fuchia: #a239ca;
$ink: #062f4f;

// other
$lime: #88d317;
$fuchia: #a239ca;
$fuchia2: #0e0b16;
$plum: #1a0315;
$violet: #6e3667;
$ink: #062f4f;
$void: #a239ca;
$jewel: #4717f6;
$stark: #e7dfdd;
$shadow: #535353;
*/
